###############################################################################
# Python
###############################################################################
# Compiled Python
*.pyc
*__pycache__*

# Package installation
*.egg-info
